
/* Your CSS Code here. */
/* Movie Poster */
.moviePic {
  height: 450px;
  width: 300px;
  opacity: 0.9;
  display: block;
  margin: 20px auto;
}

/* Movie Description */
.movieDetail {
  position: relative;
  top: 20px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}